html, body {
  width: 99%;
}

button {
  margin: 0.2em;
}

.slightMargin {
  margin: 0.2em;
}

.preLine {
  white-space: pre-wrap;
}

#updateAnimation{
  font-weight: bolder;
  font-size: 16px;
  color: #646464
}

#updateAnimation:hover{
  color: black;
}

.nextPage{
  color:  #646464 ;
}

.nextPage:hover{
  color:  black;
}

input {
  width: 75%;
  border: 1.5px solid  #2f5fc7;
  height: 35px;
  border-radius: 3px;
  padding: 1%;
}

input:invalid {
  border:1px solid #ff0000;
  box-shadow: 0 0 0.5em #ff0000;
}

@media screen and (min-width: 1000px) {
  input {
    width: 50%;
  }

  input:invalid {
    border:1px solid #ff0000;
  }
}
